<%- include('../adminlayout/header.ejs') %>
    <%- include('../adminlayout/navbar.ejs') %>


        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">

                <div class="row">
                    <% product.image.forEach((element,index) => { %>
                        <div class="col-2" id="pic<%= index %>">
                            <img src="/ProductImages/<%= element %>" style="object-fit:cover;" width="150px" height="200px" alt="">
                            <button onclick="removePic('<%= element %>','<%= index %>','<%= product._id %>')" class="btn btn-danger">Remove</button>
                        </div>
                    <% }) %>
                </div>
                <form action="/admin/addImage" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="text" name="id" value="<%= product._id %>" style="display: none;">

                        <label for="formFile" class="form-label">Image</label>
                        <input class="form-control" type="file" name="image" id="formFile" multiple>
                        <input type="submit" class="btn btn-primary" value="Submit" >
                    </div>
                </form>
                
                <form action="/admin/update-product" method="post">

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" value="<%= product.name %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">price</label>
                        <input type="tel" class="form-control" name="price" value="<%= product.price %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">stock</label>
                        <input type="text" class="form-control" name="stock" value="<%= product.stock %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input type="text" class="form-control" name="description" list="5" value="<%= product.description %>" required>
                    </div>
                    
                    <input type="text" style="display: none;" name="product" value="<%= product._id %>">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>

        <script>
            function removePic(image, num,id){
                swal({
                    title: "Are you sure?",
                    text: "The Image Will be removed",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes,Are sure!",
                    cancelButtonText: "No, cancel plx!",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            
                            $.ajax({
                                url: "/admin/removeimage",
                                method: 'POST',
                                data: { id: id ,image:image},
                                encoded: true,
                                success: function (response) {
                                    if(response.status){
                                        swal("Deleted!", "Your image file has been deleted.", "success");
                                        document.getElementById(`pic${num}`).style.display = 'none'
                                    }else{
                                        swal("Cancelled", "Minmum One image required", "success");
                                    }

                                }
                            });
                        } else {
                            swal("Cancelled", "Your product is not recovered :)", "error");
                        }
                    });

                
            }
        </script>

        <%- include('../adminlayout/footer.ejs') %>